<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Trang xem các phòng</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            background-color: #f8f9fa;
        }

        .card:hover {
            background-color: #e9ecef;
            cursor: pointer;
        }
    </style>
</head>
<body>
<main class="container mt-4">
    <section class="row">
        <h1 class="text-center">Tầng 1</h1>
        <th:block th:each="i : ${#numbers.sequence(101,110,1)}">
            <article class="col-2">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${#strings.concat('Phòng',' ',i)}"></h5>
                    </div>
                </div>
            </article>
        </th:block>
    </section>
<br>
    <section class="row">
        <h1 class="text-center">Tầng 2</h1>
        <th:block th:each="i : ${#numbers.sequence(201,210,1)}">
            <article class="col-2">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${#strings.concat('Phòng',' ',i)}"></h5>
                    </div>
                </div>
            </article>
        </th:block>
    </section>
    <br>
    <section class="row">
        <h1 class="text-center">Tầng 3</h1>
        <th:block th:each="i : ${#numbers.sequence(301,310,1)}">
            <article class="col-2">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${#strings.concat('Phòng',' ',i)}"></h5>
                    </div>
                </div>
            </article>
        </th:block>
    </section>
</main>
</body>
</html>